.text-cropped-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 80px;

    .text-cropped {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.25rem;
    }

    .info-icon {
        width: 1.55rem;
        height: 1.55rem;
    }
}
