<div class="home">
    <div class="pad-3">
        <app-home-intro-section></app-home-intro-section>
    </div>

    <hr/>

    <div class="pad-3">
        <app-home-completion-section></app-home-completion-section>
    </div>

    <hr/>

    <div>
        <h3 class="pad-3">{{ 'OTCFront.CoreCommon.TopCountries' | translate }}</h3>
        <app-top-countries></app-top-countries>
    </div>

    <hr/>

    <div class="pad-3">
        <app-home-sponsors-section></app-home-sponsors-section>
    </div>
</div>
