CORS_ORIGIN=http://localhost:4200
IS_AUDITABLE=true

DATABASE_URL="postgresql://postgres:postgres@localhost:6543/postgres?schema=public"

LINKEDIN_CLIENT_ID="<YOUR_LINKEDIN_CLIENT_ID>"
LINKEDIN_CLIENT_SECRET="<YOUR_LINKEDIN_CLIENT_SECRET>"
LINKEDIN_REDIRECT_URI="http://localhost:3000/auth/linkedin/callback"

GOOGLE_API_KEY="<YOUR_GOOGLE_API_KEY>"
VIRUS_TOTAL_API_KEY="<YOUR_VIRUS_TOTAL_API_KEY>"

FILE_SERVICE_URL="http://localhost:3001"
OCR_SERVICE_URL="http://localhost:8010"
SCRAPER_SERVICE_URL="http://localhost:8020"
AI_ENDPOINT_URL="<YOUR_AI_API_URL>"
AI_SOURCE_LIMIT=1