@use "../../css/colors";
.label-text {
    color: var(--main-3);
    font-size: 0.875rem;
    letter-spacing: 0.8px;
    line-height: 1.5rem;
}

.clipboard-field {
    border: 1px solid var(--main-1);
    border-radius: 3px;
    word-break: break-all;
    padding: 5px 10px;
    background-color: var(--main-1-05);
    min-height: 35px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.copy-container {
    border: 1px solid var(--main-1);
    border-radius: 3px;
    background-color: var(--main-1-05);
    transition: all 0.2s ease-in;

    &:hover {
        background-color: var(--main-0);
    }

    .icon-copy {
        color: var(--main-3);
        width: 25px;
        height: 25px;
    }

    p {
        color: var(--main-3);
        padding-right: 5px;
        font-size: 0.725rem;
    }
}
