<div class="pad-3 gap-3 about">
    <div class=" gap-3 about-container">
        <div class="sections gap-3">
            <div class="lvl-1">
                <app-about-section-1></app-about-section-1>
            </div>

            <div class="lvl-2">
                <app-about-section-2></app-about-section-2>
            </div>
        </div>

        <div class="footer">
            <hr style="margin: 0"/>
            <app-about-section-footer></app-about-section-footer>
        </div>
    </div>
</div>
