{
    "production": false,
    "apiUrl": "http://localhost:3000/",
    "siteUrl": "http://localhost:4200",
    "linkedinClientId": "YOUR_LINKEDIN_CLIENT_ID",
    "linkedinRedirectUri": "http://localhost:3000/auth/linkedin/callback",
    "siteName": "Open Tax Calendar"
}
