<app-panel-synchro-inline [panels]="panels" [show_navigation]="false" [row_direction_column]="false"></app-panel-synchro-inline>

<ng-template #faqTpl>
    <app-faq class="height-100"></app-faq>
</ng-template>
<ng-template #sponsorship>
    <div class="text-about text-sponsors">{{ 'OTCFront.About.Panels.Sponsorship.content' | translate }}</div>
<!--    <div class="pad-1 flex justify-end">-->
<!--        <app-button-main-action text="OTCFront.CoreCommon.ContactSponsor" icon="People/Community/Mail"></app-button-main-action>-->
<!--    </div>-->
</ng-template>
