@font-face {
    font-family: "Integral UI Medium";
    src: url("../assets/fonts/IntegralUI-Medium.woff") format("woff");
}

.font-medium {
    font-family: "Integral UI Medium";
}

@font-face {
    font-family: "Integral UI Light";
    src: url("../assets/fonts/IntegralUI-Light.woff") format("woff");
}

.font-light {
    font-family: "Integral UI Light";
}

@font-face {
    font-family: "Integral UI ExtraLight";
    src: url("../assets/fonts/IntegralUI-Extralight.woff") format("woff");
}

.font-extralight {
    font-family: "Integral UI ExtraLight";
}

@font-face {
    font-family: "Integral UI Semibold";
    src: url("../assets/fonts/IntegralUI-Semibold.woff") format("woff");
}

.font-semibold {
    font-family: "Integral UI Semibold";
}

@font-face {
    font-family: "Integral UI Bold";
    src: url("../assets/fonts/IntegralUI-Bold.woff") format("woff");
}

.font-bold {
    font-family: "Integral UI Bold";
}

@font-face {
    font-family: "Integral UI Regular";
    src: url("../assets/fonts/IntegralUI-Regular.woff") format("woff");
}

.font-regular {
    font-family: "Integral UI Regular";
}
