@use "../../css/media";
@use "../../css/colors";

.lang-menu-button {
    border: 1px solid var(--main-1);
    border-radius: 25px;
    width: 85px;
    height: 37px;
    display: flex;
    justify-content: center;

    .text {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    &:hover {
        box-shadow: 0 0 0 1px var(--main-1);
    }
}

.menu-custom {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 0.5rem 1rem;

        &:hover {
            background-color: var(--grey-1);
        }
    }
}
