<app-form-control-template
    [inputTpl]="inputTpl"
    [required]="required"
    [label]="label"
    [displayErrors]="formControl.touched"
    [errors]="formControl.errors"
>
</app-form-control-template>

<ng-template #inputTpl>
    <app-date-selector
        [utcDate]="__value$ | async"
        (utcDateChange)="onDateChange($event)"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [withTime]="withTime"
        [placeholder]="placeholder">
    </app-date-selector>
</ng-template>

